@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

.color-nav {
  background-color: #355e45;
}

.props-logo {
  width: 150px;
  height: auto; 
}

.navbar {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 500;
  font-size: 17px !important;
}

.App {
  background-color: #fffdf0;
}

.plant-card {
  display: flex;
}

.plant-image {
  object-fit: cover;
  width: 200px;
  height: 250px;
  cursor: pointer;
  position: relative;
}

.like-button {
  color: rgb(255, 127, 80);
  font-size: 1.5rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
  position: absolute;
}

.like-button:hover {
  color: rgb(241, 71, 19);
}

.like-button:active {
  color: rgb(253, 159, 124);
}

.plants-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}

.plant-page-container {
  position: absolute;
}