@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.color-nav {
  background-color: #355e45!important;
}

.props-logo {
  width: 150px;
  height: auto; 
}

.navbar {
  font-family: 'Abril Fatface', cursive !important;
  font-weight: 500;
  font-size: 22px !important;
}

body {
  background-color: #f1f0e4 !important;
  /* background-color: #fdf8ef !important; */
}

.user-avatar {
  border-radius: 50%;
  width: 60px;
  height: auto;
}

.welcome-user {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #FFFFFF80;
  font-family: 'Raleway', sans-serif;
  margin-top: 15%;
}

.plant-card, .show-page-card {
  display: flex;
}

.plant-card {
  margin-left: 5%;
  margin-right: 5%;
}

.plant-image {
  object-fit: cover;
  width: 200px;
  height: 250px;
  cursor: pointer;
  position: relative;
}

.like-button {
  color: #fd9f7c;
  font-size: 2.0rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
  position: absolute;
}

.like-button:hover {
  color: #e65f40;
}

.like-button:active {
  color: #fd9f7c;
}

.all-plants-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}

.plant-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.plant-page-container {
  display: flex;
  flex-direction: row;
  margin: 5%;
  font-family: 'Raleway', sans-serif;
}

.show-page-image {
  width: 300px;
  height: 330px;
  position: relative;
}

.show-page-text {
  margin-left: 3%;
  color: #1e3e25;
}

.wishlist {
  font-size: 20px
}

.wishlist-text {
  margin-top: -2%;
}

hr {
  /* background-color: #a85b3f; */
  background-color: #224529;
  opacity: 30%;
}

.login-page-container, .list-plant-container {
  display: flex;
  flex-direction: row;
}

.list-plant-image, .login-page-image{
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  width: 500px;
  height: auto;
}

form {
  display: flex;
  margin: auto;
  margin-top: 5%;
  flex-direction: column;
  width: 350px;
  color: #7d7a75;
  font-size: 18px !important;
}

input {
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.contact-input {
  margin-bottom: 10px;
}

label, .plant-name-text, .wishlist {
  font-family: 'Abril Fatface', cursive;
}

input:focus {
  border-style: solid !important;
  border-color: #a3543d !important;
}

.password-input, .description-input{
  margin-bottom: 30px;
}

.submit-button {
  background-color: #264d2e;
  color: white;
  font-family: 'Abril Fatface', cursive !important;
}

.submit-button:hover {
  background-color: #224529;
}

.signup-prompt {
  margin-top: 3%;
  font-size: 15px;
  text-align: center;
}

.signup-link{
  color: #a3543d;
  font-size: 15px;
  font-weight: bold
}

.signup-link:hover {
  color: #ce7d5d;
  font-weight: bold
}

.description-input {
  padding: 0 0 100px 0;
}
